<h3>
  App name: {{ title }}
</h3>

<p>
  {{ 1+1 }}
</p>

<p>
  {{ year }}
</p>


<p>
  {{ switch }}
</p>

<p>
  welcome, {{ username }}
</p>


<!-- ngFor -->
<!--
<ul>
  <li  *ngFor="let e of employees"  >
    <h3>{{ e.username }}</h3>
    <p>
      {{ e.email }}
    </p>
  </li>
</ul>-->


<!-- IF  -->




<div  *ngIf=" switchBloc "    style="color: orange;">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam recusandae optio mollitia neque repellat sunt. Voluptatum officiis vitae aliquid ipsum fuga accusamus est placeat? Sit tempore excepturi debitis veritatis?
</div>

<div *ngIf=" ! switchBloc "  style="color: blue;">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam recusandae optio mollitia neque repellat sunt. Voluptatum officiis vitae aliquid ipsum fuga accusamus est placeat? Sit tempore excepturi debitis veritatis?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero quam recusandae optio mollitia neque repellat sunt. Voluptatum officiis vitae aliquid ipsum fuga accusamus est placeat? Sit tempore excepturi debitis veritatis?

</div>





