<h1>Home</h1>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque asperiores praesentium molestiae doloribus adipisci, iure consequuntur tempora, repellendus itaque at vero facilis! Pariatur, quam repudiandae dolorum in asperiores consectetur aliquam.
</p>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque asperiores praesentium molestiae doloribus adipisci, iure consequuntur tempora, repellendus itaque at vero facilis! Pariatur, quam repudiandae dolorum in asperiores consectetur aliquam.
</p>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque asperiores praesentium molestiae doloribus adipisci, iure consequuntur tempora, repellendus itaque at vero facilis! Pariatur, quam repudiandae dolorum in asperiores consectetur aliquam.
</p>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque asperiores praesentium molestiae doloribus adipisci, iure consequuntur tempora, repellendus itaque at vero facilis! Pariatur, quam repudiandae dolorum in asperiores consectetur aliquam.
</p>


<a routerLink="/home/equipe">notre equipe</a>  <a routerLink="/home/about"> a propos de nous</a>


<router-outlet></router-outlet>